.faq-section {
     max-width: 800px;
     margin: 50px auto;
     padding: 20px;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
 }
 .faq-each{
     padding: 10px;
 }

 .faq-question {
     border: #333 2px solid;
     padding: 5px;
     cursor: pointer;
 }

 .faq-answer a{
     color: black;
}
 .faq-answer {
     display: none;
     /* margin-bottom: 20px; */
 }

 .faq-question:hover {
     color: #4285f4;
 }

 #conactUs{
     height: 90vh;
     display: flex;
 }
 .contat{
     /* border: 5px dashed black; */
     padding: 20px;
     width: 50%;
 }
 .contat h2{
     font-size: 4em;
     font-weight: 900;
 }
 .ctt{
     width: 50%;
 }
 img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .carsrg{
     position: absolute;
     display: flex;
     gap: 20px;
     left: 5%;
     top: 50%;
 }
 .cardddd{
     width: 25em;
     height: 20em;
     background-color: #333;
     box-shadow: none;
     display: flex;
     flex-direction: column;
     overflow-y: hidden;
     text-align: center;
     justify-content: center;
     align-items: center;
     color: #fff;
     padding: 20px;
 }
 .cardImgTop{
     width: 100px;
 }
 .cardTitle{
     font-size: 2em;
     margin-top: 10px;
 }
 .btdd{
     margin-top: 20px;
     padding: 10px 20px;
     border: none;
     background-color: #fff;
     color: #333;
     font-size: 1.2em;
     cursor: pointer;
 }