/* 
color: #000
     #333
     #E94C2A
     #f9e1dc
     #fff;
*/

@media (max-width: 670px) {
     #large{
          display: none!important;
     }
     .navbar-toggler{
          display: block!important;
     }
     .nav-item a{
          font-size: 25px;
          padding: 20px 0;
     }
     .btn-ss, .btn-out{
          background-color: #f9e1dc;
          color: #333;
     }
     #hero{
          height: 80vh;
          display: block;
          position: relative;
     }
     #hero .text{
          z-index: 2;
     }
     #hero .text .h1{
          font-size: 50px;
          text-align: center;
          padding: 80px 0;
     }
     #hero .text .p{
          font-size: 30px;
          color: black;
          padding: 50px 0;
     }
     #hero .img1 {
          position: absolute;
          z-index: 1;
          opacity: 0.4;
     }
    .section{
          overflow: hidden!important;
          padding-top: 400px;
     }
     .get{
          background-color: #e94c2a;
          color: #333;
          border: 2px solid #333;
          outline: 2px solid #333;
     }
     #first-section-heading-cont{
          font-size: 30px;
          padding: 0px;
     }
     .product-display-cont {
          animation: autoslideshow 10s infinite linear forwards;
          /* overflow-x: hidden!important; */
     }
     .card{
          width: 15rem!important;
          height: 25rem!important;
     }
     .card img{
          margin: 0 auto;
          width: 100px;
          height: 80px;
     }
     #herond{
          position: relative;
          height: 80vh;
          display: block;
          /* grid-template-rows: 1fr 1fr; */
          justify-content: center;
          /* background-image: url(images/smartmockups_ll79pg0q-removebg-preview\ 1.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center; */
     }
     #herond .text .h2{
          font-size: 50px;
          text-align: center;
     }
     #herond .text .p{
          font-size: 35px;
          color: black;
     }
     #herond .img1 {
          position: absolute;
          z-index: 1;
     }
}