@media (max-width: 670px) {
     .nav-item a{
          font-size: 25px;
          padding: 20px 0;
     }
     .btn-ss, .btn-out{
          background-color: #f9e1dc;
          color: #333;
     }
     #large{
          display: none!important;
     }
     .smallNAv{
          display: block!important;
     }
     #hero{
          height: 80vh;
          display: block;
          position: relative;
     }
     #hero .text{
          z-index: 2;
     }
     #hero .text .h1{
          font-size: 50px;
          text-align: center;
          padding: 80px 0;
     }
     #hero .text .p{
          font-size: 30px;
          color: black;
          padding: 50px 0;
     }
     #hero .img1 {
          position: absolute;
          z-index: 1;
          opacity: 0.4;
     }
    .section{
          overflow: hidden!important;
          padding-top: 400px;
     }
     .get{
          background-color: #e94c2a;
          color: #333;
          border: 2px solid #333;
          outline: 2px solid #333;
     }
     #first-section-heading-cont{
          font-size: 30px;
          padding: 0px;
     }
     .product-display-cont {
          animation: autoslideshow 10s infinite linear forwards;
          overflow-x: hidden!important;
     }
     .card{
          width: 15rem!important;
          height: 25rem!important;
     }
     .card img{
          margin: 0 auto;
          width: 100px;
          height: 80px;
     }
     #herond{
          position: relative;
          height: 80vh;
          display: block;
          justify-content: center;
     }
     #herond .text .h2{
          font-size: 50px;
          text-align: center;
     }
     #herond .text .p{
          font-size: 35px;
          color: black;
     }
     #herond .img1 {
          position: absolute;
          z-index: 1;
     }
     #productOfDay {
          width: 300%;
          #ProductDayItems{
          animation: autoslideshows 10s infinite linear forwards;
     }
     }
     #herond {
          height: max-content!important;
          background-color: #f9e1dc!important;
     }
     #herond .img1 {
          position: initial!important;
          img{
               width: 100%;
               height: 100%;
          }
     }
     .main-img {
          max-width: max-content;
          z-index: 0;
          left: -10% !important;
          top: 20%;
      }
      .card-one {
          left: 0%;
      }
      .card-three {
          right: 0;
      }
      .mail{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
      }
      .input__email {
          width: 80%;
      }
      .par{
          width: 90%;
      }
      footer{
          .lists{
               flex-wrap: wrap;
               justify-content: center;
          }
          .card {
               width: 15rem !important;
               height: max-content !important;
           }
           .row{
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
           }
      }
}

