/* Font LInk for Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Inter', sans-serif;
}

/* First NavBar */
button{
     padding: 10px;
     padding-left: 30px;
     padding-right: 30px;
     border: hidden;
     border-radius: 20px;
     font-weight:700;
     font-size: large;
}
.btn-ss {
     border: #E94C2A 4px solid;
     color: #fff;
}
.btn-ss:hover {
     background-color: #E94C2A;
     color: #fff;
     border-radius: 20px;
}
.btn-out,.cta {
     background-color: #E94C2A;
     color: #fff;
}
.btn-out:hover,.cta:hover {
     font-weight: 700;
     border-radius: 20px; 
}
.btn-out:hover {
     background-color: #fff;
     color: #E94C2A;
}

/* Second NAvBar */
.navbar-nav {
     margin: 0 auto;
     line-height: 0%;
}
.bg- {
     background-color: #E94C2A;
}
.nav-item{
     list-style-type: none;
}
.nav-link{
     text-decoration: none;
     font-weight: bold;
     color: black;
}
.navbar-nav li:hover {
     box-shadow: 5px 5px 5px #000;
}
.navbar-nav li {
     padding: 5px;
}
.nav{
     display: flex;
     justify-content: space-between;
}
.contains-nav-ul{
     width: 100%;
}

/* Hero Section */
.hero{
     place-items: center;
     height: 80vh;
     background-color: #f9e1dc;
}
.text {
     flex-direction: column;
     align-items: center;
     gap: 50px; 
}
.h1 {
     color: #E94C2A;
     font-size: 50px;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     letter-spacing: 1px; 
}
.p {
     color: #000;
     font-size: 20px;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 0.4px;
     text-align: justify;
}
.get {
     width: 200px;
     height: 66.048px;
     border-radius: 20px;
}
.get:hover {
     border: 2px #E94C2A solid;
}


/* Section of Boxes */
.section{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #f9e1dc;
}
.first{
     height: 80vh;
}
.first-in-headers,.sec-in-headers{
     display: grid;
     place-items: center;
     box-sizing: border-box;
     padding: 15px;
}
.first-section{
     width: 100%;
}
.product-display-cont{
     display: grid;
     grid-template-rows: auto auto;
     grid-template-columns: repeat(5,auto);
     overflow-x:hidden;
     width: 100%;
}
#first-section-heading-cont{
     width: 100%;
     padding: 30px;
     display: grid;
     place-items: center;
}
#first-section-heading{
     text-align: center;
     max-width: 70%;
     font-size: 2.5rem;
}
#first-section-heading::after{
     content: "😎";
}
.disp-cont-for-two{
     transform: rotate(320deg);
     margin: 20px;
}
.product-cont{
     border: solid black 3px;
     border-radius: 20px;
     background-color: white;
     height: 300px;
     width: 200px;
     margin: 30px;
}

/* Our Top Deals */
.deals {
     padding: 10px 50px;
     display: flex;
     justify-content: space-between;
     place-items: center;
}
.top {
     font-weight: 700;
     color: #000;
     font-size: 20px;
}
.btt {
     color: #000;
     font-size: 15px;
     font-weight: 700;
}


/* Advet to Download App */
.h2 {
     font-size: 40px;
     color: #000;
}
.p {
     font-size: 15px;
}
.down{
     background-color: #000;
     display: flex;
     place-items: center;
     line-height: 0%;
     gap: 10px;
     color: #fff;
}
.down:hover{
     border: #000 2px solid;
     color: #000;
}
.d-{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}


/* Subscribe */
.subscribe {
     padding: 50px 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     place-items: center;
     gap: 10px;
}
.subscribe .h1 {
     font-size: 30px;
}
#sub-mail {
     border-radius: 10px;
     border: #E94C2A 1px solid;
     outline: #E94C2A 1px solid;
     background-color: #f9e1dc;
     color: #000;
}
#sub-scribe {
     border: #333 2px solid;
     outline:none;
     padding: 0 10px;
     font-weight: 500;
     background-color: #E94C2A;
}
#sub-scribe:hover {
     border: #E94C2A 2px solid;
     background-color: #fff;
     color: #333;
}

/* Footer */
footer {
     border-radius: 50px 50px 0px 0px; 
     padding: 50px 100px;
}
.lists {
     display: flex;
     justify-content: space-between;
     list-style: none;
}
a {
     text-decoration: none;
     color: #fff;
     font-size: 20px;
}
.copy {
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     place-items: center;
}