/* Font LInk for Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f4f4f4;
  overflow-x: hidden !important;
  width: 100vw;
}

/* Initially hide the content with the 'hidden' class */
.hidden {
  display: none;
}
#loading {
  position: absolute;
  left: 45%;
  bottom: 45%;
}

/* Loader 4 */
.boxes {
  --size: 32px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
  animation: box4 var(--duration) linear infinite;
}

.boxes .box > div {
  --background: #e94c2a;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.boxes .box > div:nth-child(2) {
  --background: #e94d2a6d;
  --right: 0;
  --rotateY: 90deg;
}

.boxes .box > div:nth-child(3) {
  --background: #e94c2a;
  --rotateX: -90deg;
}

.boxes .box > div:nth-child(4) {
  --background: #e94d2a52;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

/* Hero section */
.hero {
  height: 100vh;
  color: #000;
}
.navbar {
     background-color: #00000015;
     position: fixed;
     width: 100vw;
     z-index: 20000;
     height: 10vh;
     padding-right: 50px;
}
.navbar a {
  color: #fff;
}
.navbar-brand{
     width: 250px;
     height: 50px;
}
.navbar-brand img{
     width: 100%;
     height: 100%;
     object-fit: contain;
}
.navbar .active {
  color: #e94c2a !important;
  font-weight: 900 !important;
}
.nav-item {
  font-size: 16px;
  font-weight: 500;
}
.carousel-item {
  height: 100vh;
}
.carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0000005e;
  padding: 20px;
}
.carousel-caption h5{
     font-size: 30px;
     font-weight: 900;
}
.carousel-caption p{
     font-size: 20px;
     font-weight: 300;
}
.cssbuttons-io-button {
  background: #e94c2a;
  color: white;
  font-family: inherit;
  padding: 0.3em;
  padding-left: 1.2em;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #f9e1dc;
  overflow: hidden;
  position: relative;
  height: 3em;
  padding-right: 3.3em;
  cursor: pointer;
  width: max-content;
}

.cssbuttons-io-button .icon {
  background: #f1f1f1;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #e94c2a;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #e94c2a;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section of moving Boxes */
.section {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #f1f1f1;
     margin-top: 30px;
}
.first {
  height: 80vh;
}
.first-in-headers,
.sec-in-headers {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  padding: 15px;
}
.first-section {
  width: 100%;
}
#first-section-heading-cont {
  width: 100%;
  padding: 30px;
  display: grid;
  place-items: center;
}
#first-section-heading {
  text-align: center;
  max-width: 70%;
  font-size: 2.5rem;
}
#first-section-heading::after {
  content: "😎";
}
/* animation: autoslideshow 80s infinite linear forwards; */
.product-display-cont {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(10, auto);
  width: 100%;
  white-space: nowrap;
  animation: autoslideshow 5s infinite linear forwards;
}

.disp-cont-for-two {
  transform: rotate(30deg);
  margin: 20px;
}

.product-cont {
  position: relative;
  border: solid black 3px;
  border-radius: 20px;
  background-color: white;
  height: 300px;
  width: 200px;
  margin: 30px;
  overflow: hidden;
}

.product-cont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.309);
  padding: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hover-content span {
  font-size: 20px;
  color: black;
}

.product-cont:hover .hover-content {
  opacity: 1;
}

@keyframes autoslideshow {
  from {
    transform: translate(-50px);
  }
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
@keyframes autoslideshows {
     from {
       transform: translate(60px);
     }
     to {
       transform: translate(calc(-90% - 9rem));
     }
   }
 /* Product of the Day */
#productOfDay{
     height: 15vh;
     background: linear-gradient(90deg, #252525, #e94c2a, #252525);
     color: #fff;
     padding: 10px 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}
#productOfDay h1.no-offer{
     font-size: 50px;
     margin: 0 auto;
}
#ProductDayItems{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}
#productDayimg{
     height: 12vh;
}
#productDayimg img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
#productDayTitle{
     font-weight: 700;
     font-size: 25px;
}
#productDayCategory{
     font-weight: 400;
     font-size: 25px;
}
#prices{
     display: flex;
     gap: 50px;
     align-items: center;
     font-weight: 700;
     font-size: 25px;
}
#productDayOldPrice{
     text-decoration: line-through #000 3px;
}
#productDayPercent{
     background-color: #f9e1dc;
     padding: 5px;
     font-weight: 900;
     font-size: 25px;
     color: #e94c2a;
}
#productTime, #productDayRemainder{
     font-weight: 900;
     font-size: 20px;
}
.productDayBuy {
  --width: 100px;
  --height: 35px;
  --button-color: #e94c2a;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.productDayBuy::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
}

.productDayBuy::after,.productDayBuy::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.productDayBuy .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productDayBuy .button-wrapper,.productDayBuy .text,.productDayBuy .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.productDayBuy .text {
  top: 0
}

.productDayBuy .text,.productDayBuy .icon {
  transition: top 0.5s;
}

.productDayBuy .icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productDayBuy .icon svg {
  width: 24px;
  height: 24px;
}

.productDayBuy:hover {
  background: #e94c2a;
}

.productDayBuy:hover .text {
  top: -100%;
}

.productDayBuy:hover .icon {
  top: 0;
}

.productDayBuy:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}
 /* Our Top Deals */
.dealss {
  /* height: 100vh; */
  background-color: #f1f1f1;
  border-bottom: 1px solid black;
}
.bg- {
  background-color: #e94c2a;
}
.deals {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.top {
  font-weight: 700;
  color: #000;
  font-size: 20px;
}
.btt {
  color: #000;
  font-size: 15px;
  font-weight: 700;
}
.card {
  border: none;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.percent {
  padding: 5px;
}
.love {
  border-radius: 50%;
  padding: 5px;
}
.card-title {
  justify-content: space-between;
  place-items: center;
  align-items: center;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.coll {
  flex-direction: column;
}
.original {
  color: #e94c2a;
}
.btn-primary {
  /* border: none!important; */
  background-color: #e94c2a;
}
.btn-primary:hover {
  color: #e94c2a;
  background-color: #f1f1f1;
  border: #e94c2a 1px solid;
}
.btn-pri {
  color: #e94c2a;
  background-color: #f1f1f1;
}
.CartBtn {
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #e94c2a;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
  color: #f1f1f1;
}
.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(100px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

/* Advert to Download App */
#herond {
  margin: 0;
  background-color: #e94c2a;
  padding: 5%;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.h2 {
  font-size: 40px;
  color: #000;
}
.p {
  font-size: 15px;
}
.coversall {
  width: max-content;
  margin-right: auto;
  /* padding: 1.5rem; */
}
.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}

/* Second hero at the bottom */
.sec-hero-cont {
  position: relative;
  height: 80vh;
  background-color: #f1f1f1;
}
.floaters {
  position: absolute;
}
.boos {
  display: flex;
  align-items: center;
  border: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-color: white;
  padding: 10px;
  min-width: 200px;
  max-width: 250px;
}
.boos:hover, .card-three {
  box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 5px;
}

.boos > h1,
.boos > h2,
.boos > h3,
.boos > h4,
.boos > p,
span > h2,
span > h4 {
  font-weight: bold;
  font-size: medium;
}
.card-one {
  top: 0%;
  left: 30%;
  z-index: 3;
}

.card-three {
  bottom: 61%;
  left: 63%;
  z-index: 1;
}
.card-four {
  bottom: 10%;
  left: 28%;
  z-index: 2;
}
.main-img {
  max-width: 100%;
  z-index: 2;
  left: 35%;
}
.card-prod-img {
  max-width: 50%;
}

/* Subscribe */
.subscribe {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 10px;
  background-color: #f1f1f1;
}
.subscribe .h1 {
  font-size: 30px;
}
.mail {
  width: 100%;
  text-align: center;
}
.input__email {
  width: 20%;
  padding: 10px;
  font-size: 12px;
  box-shadow: 0 0 0 1px #e94c2a;
  border: none;
  border-radius: 25px;
  background-color: #f9e1dc;
  transition: all 0.3s;
}

.input__email::placeholder {
  color: #e94c2a;
  font-weight: 900;
  font-size: 14px;
}

.input__email:focus {
  outline: none;
  box-shadow: 0 0 10px 1px #e94c2a;
  border: none;
  transition: all 0.3s;
}

.button {
  height: 35px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.type1::after {
  content: "THANK YOU";
  height: 35px;
  width: 150px;
  background-color: #252525;
  color: #f1f1f1;
  transform: translateY(100px);
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.type1::before {
  content: "SUBSCRIBE";
  height: 35px;
  width: 150px;
  background-color: #e94c2a;
  color: #f5f8f8;
  position: absolute;
  transform: translateY(0px) scale(1.1);
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.type1:hover::after {
  transform: translateY(-2px) scale(1.2) rotate(0deg);
}

.type1:hover::before {
  transform: translateY(-50px) rotate(290deg);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 0;
  gap: 20px;
}
footer .lists {
     display: flex;
     list-style: none;
}
footer a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 20px;
}
.copy {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}
footer .coversall{
     margin: auto;
}

footer .card {
     width: max-content;
     height: max-content;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: center;
     padding: 25px 25px;
     background: none;
     gap: 20px;
   }
   
   /* for all social containers*/
   footer .socialContainer {
     width: 52px;
     height: 52px;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     background-color: #e94c2a;
     transition-duration: .3s;
   }
   
  footer .socialSvg {
     width: 17px;
   }
   
  footer .socialSvg path {
     fill: rgb(255, 255, 255);
   }
   
  footer .socialContainer:hover .socialSvg {
     animation: slide-in-top 0.3s both;
   }
   
   @keyframes slide-in-top {
     0% {
       transform: translateY(-50px);
       opacity: 0;
     }
   
     100% {
       transform: translateY(0);
       opacity: 1;
     }
   } 